* {
  justify-content: center;
  text-align: center;
}

.navBar {
  position: fixed;
  top: 0;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-between;
}

.navItem {
  padding: 4px;
  margin: 4px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

.artworks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 80px;
}

.art {
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
}

.art:hover {
  cursor: pointer;
  background-color: #aaa;
}
