* {
  justify-content: center;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background-image: url("../public/vecteezy_classic-marble-statue-of-a-philosopher-on-warm-background_53187725.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navItem {
  padding: 0.2rem 0.2rem;
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(217, 203, 174, 0.9);
  border: 2px solid #4e3b31;
  border-radius: 10px;
  color: #4e3b31;
  border: solid 4px #4e3b31;
  border-radius: 0.6rem;
}

.navItem:hover {
  background-color: rgba(217, 203, 174, 1);
}

.navButton {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: rgba(217, 203, 174, 0);
  color: #4e3b31;
  transition: transform 0.4s ease-in-out;
}

.navButton:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.navButton {
  font-size: 1rem;
}

@media (max-width: 1350px) {
  .navItem {
    font-size: 1rem;
    margin: 1rem;
    padding: 0.1rem 0.1rem;
  }
}
.logoutButton {
  background-color: lightcoral;
  border: rgb(0, 0, 0) solid 2px;
  font-weight: bold;
  float: right;
  margin-right: -4rem;
  margin-top: -1rem;
  transition: transform 0.4s ease-in-out;
}
.logoutButton:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.artworks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 80px;
}

.art {
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
}

.chicago-artwork {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.home-container {
  padding: 2rem;
  margin-top: 1rem;
}

.top-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.top-left {
  font-size: 3.7rem;
  font-weight: bold;
  color: #d9cbae;
}

.top-right {
  font-size: 1.5rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  background-color: rgba(217, 203, 174, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border: #4e3b31 6px solid;
  background-color: rgba(217, 203, 174, 0.8);
  border-radius: 2.6rem;
  padding: 1rem;
}
@media (max-width: 1700px) {
  .highlight-grid {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: #c0b2a100;
  }
}

.highlight-grid > * {
  border: 6px solid #4e3b31;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #c0b2a169;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #4e3b31;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1700px) {
  .highlight-grid > * {
    background-color: #c0b2a1e6;
  }
}

.highlight-grid > *:hover {
  background-color: rgba(161, 141, 115, 0.9);
  cursor: pointer;
  transform: scale(1.03);
}

.about-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  padding-left: 5%;
}

.about {
  width: 50%;
  background-color: rgba(217, 203, 174, 0.8);
  padding: 4rem;
  font-size: 1.5rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  text-align: left;
}

@media (max-width: 1400px) {
  .about {
    width: 90%;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

.landingIntro {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #d9cbae;
}

.loginForm {
  width: 20%;
  background-color: rgba(217, 203, 174, 0.8);
  padding: 2rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.loginContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  padding-left: 5rem;
}

.loginButton {
  width: 80%;
  align-self: center;
  text-align: center;
  padding: 0.6rem;
  font-weight: bold;
  background-color: #4e3b31;
  border: 2px solid #4e3b31;
  color: #d9cbae;
  border-radius: 0.5rem;
  cursor: pointer;
}

.createNewAccountButton {
  padding: 0.6rem;
  font-weight: bold;
  background-color: #d9cbae;
  border: 2px solid #4e3b31;
  color: #4e3b31;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  margin-top: 0.4rem;
  margin-left: 12.8rem;
}

.newAccountContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  padding-left: 5rem;
}

.signUpForm {
  width: 20%;
  background-color: rgba(217, 203, 174, 0.8);
  padding: 2rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.createAccountButton {
  width: 80%;
  align-self: center;
  text-align: center;
  padding: 0.6rem;
  font-weight: bold;
  background-color: #4e3b31;
  border: 2px solid #4e3b31;
  color: #d9cbae;
  border-radius: 0.5rem;
  cursor: pointer;
}

.existingLogin {
  padding: 0.6rem;
  font-weight: bold;
  background-color: #d9cbae;
  border: 2px solid #4e3b31;
  color: #4e3b31;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  margin-top: 0.4rem;
  margin-left: 11rem;
}

.profileUser {
  font-size: 1.5rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  background-color: rgba(217, 203, 174, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 22rem;
  min-height: 20rem;
}

.personalExhibitHeader {
  font-size: 1.5rem;
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  background-color: rgba(217, 203, 174, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20rem;
}

.profileContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.personalList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.personalList li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 6px solid #4e3b31;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #d9cbae;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
}

.personalList li h1 {
  font-size: 2.4rem;
}

.personalList li h3 {
  text-align: left;
  color: #4e3b31;
}

.removeFromExhibit {
  width: 40%;
  align-self: center;
  text-align: center;
  padding: 0.6rem;
  font-weight: bold;
  background-color: #4e3b31;
  border: 2px solid #4e3b31;
  color: #d9cbae;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: auto;
}
.singleArtContainer {
  width: 80%;
  height: 80vh;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #4e3b31;
  border: solid 6px #4e3b31;
  border-radius: 2.6rem;
  background-color: rgba(217, 203, 174, 0.8);
  padding: 2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.singleArtContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.singleArtText {
  flex: 2;
  text-align: left;
  line-height: 1.3;
  overflow-y: auto;
  max-height: 100%;
  direction: rtl;
  text-align: left;
}

.singleArtText > * {
  direction: ltr;
}

.singleArtText h3 {
  direction: ltr;
  text-align: left;
  margin-left: 0;
}

.singleImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.singleImage img {
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  border-radius: 1rem;
}

.singleArtText::-webkit-scrollbar {
  width: 10px;
}

.singleArtText::-webkit-scrollbar-track {
  background: #d9cbae;
  border-radius: 10px;
}

.singleArtText::-webkit-scrollbar-thumb {
  background: #4e3b31;
  border-radius: 10px;
}

.singleArtText::-webkit-scrollbar-thumb:hover {
  background: #3b2d24;
}

.addToExhibitBox {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.addToExhibitBox input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  border: 2px solid #4e3b31;
  background-color: rgba(217, 203, 174, 0.8);
  position: relative;
  cursor: pointer;
  margin-left: 50rem;
}

.addToExhibitBox input[type="checkbox"]:checked {
  background-color: #4e3b31;
}

.addToExhibitBox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #d9cbae;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addToExhibitBox label {
  font-weight: bold;
  color: #4e3b31;
  font-size: 1.2rem;
}

.topTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 20px;
  border: #4e3b31 solid 6px;
  border-radius: 2.6rem;
  background-color: #d9cbae;
}

.topTextContainer h2 {
  flex: 1;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: #333;
}

.chicagoButton {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #4e3b31;
  color: #d9cbae;
  border: none;
  border-radius: 2.6rem;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.chicagoButton:hover {
  background-color: #3b2d24;
}

.metButton {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #4e3b31;
  color: #d9cbae;
  border: none;
  border-radius: 2.6rem;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.metButton:hover {
  background-color: #3b2d24;
}

@media (max-width: 800px) {
  .topTextContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .chicagoButton,
  .metButton {
    width: 100%;
    margin-right: 0;
  }
}

.paginationAndSortContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
  gap: 4rem;
}

.paginationControls {
  display: flex;
  align-items: center;
  border: #4e3b31 solid 6px;
  background-color: #d9cbae;
  border-radius: 2.6rem;
}
.pageText {
  font-size: 1.4rem;
  color: #333;
}
.paginationControls button {
  padding: 0.6rem 1rem;
  margin: 0.2rem;
  background-color: #4e3b31;
  color: #d9cbae;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationControls button:hover:not(:disabled) {
  background-color: #3b2d24;
}

.paginationControls button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.sortControls {
  display: flex;
  align-items: center;
  border: #4e3b31 solid 6px;
  background-color: #d9cbae;
  border-radius: 2.6rem;
}

.sortControls label {
  font-size: 1.4rem;
  color: #333;
}

.sortControls select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.6rem 1rem;
  margin: 0.2rem;
}

@media (max-width: 800px) {
  .paginationAndSortContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}

.allArtworkPageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 0.8rem;
}

.single {
  border: 6px solid #4e3b31;
  padding: 0.4rem;
  background-color: #d9cbae;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artCardImage {
  width: 90%;
  transform: translate(-10%, 0%);
}

.single:hover {
  transform: scale(1.02);
}

.spinnerStyle {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-top: 5px solid #d9cbae;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  padding: 0 !important;
  text-align: left !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerText {
  color: #d9cbae;
  font-size: xx-large;
}
